nancyTest/Nancy.0.11.0/Nancy.0.11.0.nupkg

nancyTest/Nancy.0.11.0/lib/net40/Nancy.dll

nancyTest/Nancy.Hosting.Aspnet.0.11.0/Nancy.Hosting.Aspnet.0.11.0.nupkg

nancyTest/bin/Nancy.dll

nancyTest/Nancy.Hosting.Aspnet.0.11.0/content/web.config.transform

nancyTest/Nancy.Hosting.Aspnet.0.11.0/lib/net40/Nancy.Hosting.Aspnet.dll

nancyTest/bin/Nancy.Hosting.Aspnet.dll

nancyTest/bin/nancyTest.dll

nancyTest/bin/nancyTest.dll.mdb
